body {
    background-color: #d6d4e0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
 color:#622569;
}
p {
   color:#9b79c3;
}
.box-1 {
    background-color: #622569;
    color: #b8a9c9;
    border: 15px solid rgb(255, 255, 255);
    margin: 33px;
    padding: 20px;
}
#box-2 {
    background-color: #321c4d;
    color: #936cac ;
    border: 15px dotted rgb(255, 255, 255);
    margin: 33px;
    padding: 20px;
}
.container {
    background-color: #b8a9c9;
    color: #622569;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}